<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nueva imagen
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="post.title.length < 1" color="primary">
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-item class="title">
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="post.title"></ion-input>
  </ion-item>

  <ion-row class="ion-justify-content-center">
    <ion-button
      class="ion-justify-content-center"
      expand="full"
      size="large"
      shape="round"
      (click)="takePicture()"
    >
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of post?.images">
      <ion-card>
        <img alt="image" [src]="image" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
